@import "tailwindcss";

:root {
  --background: #000000;
  /* Pure Black */
  --foreground: #fffafa;
  /* Snow/Sakura White */
  --accent-cyan: #db2777;
  /* Rose 600 - Main Sakura */
  --accent-purple: #7c3aed;
  /* Violet 600 */
  --accent-blue: #2563eb;
  /* Blue 600 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glow-cyan {
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.2);
}

.glow-purple {
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.2);
}

.text-gradient {
  background: none !important;
  -webkit-background-clip: unset !important;
  background-clip: unset !important;
  -webkit-text-fill-color: currentcolor !important;
  color: #a855f7 !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}